@font-face {
    font-family: 'oswald';
    src: url("Image-font/oswald.ttf") format('TrueType');
    /* Import de la police Oswald */
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Merryweather';
    src: url("Image-font/Merryweather.ttf") format('TrueType');
    /* Import de la police Merryweather */
    font-weight: normal;
    font-style: normal;
}

/* Style de base du body */
body {
    margin: 0;
    padding: 0;
    font-family: 'Oswald', sans-serif;
    /* Police par défaut */
    background: #000000CC;
    /* Couleur de fond avec transparence */
    background-size: cover;
    background-position: center;
    color: white;
}

/* Style pour titres et albums */
h1,
h2,
.album {
    font-family: 'Merryweather';
    font-size: 30px;
    color: #ffd700;
    /* Couleur dorée */
}

/* Centre les éléments de la classe disco */
.disco {
    text-align: center;
    margin-top: 25px;
}

/* Sections avec police Oswald et marges */
#qui,
.copain,
#Actu,
#Real,
#Evenement,
#Discography {
    font-family: "oswald";
    font-size: 20px;
    margin: 30px;
}

/* Style pour la section Discography avec deux colonnes */
#Discography {
    display: flex;
    justify-content: space-between;
}

.chansons,
.album-vid {
    display: flex;
    flex-direction: column;
    /* Liste verticale */
    flex: 1;
    /* Largeur égale pour les colonnes */
    margin: 0 10px;
    /* Espace entre les colonnes */
}

/* Supprime les puces de liste */
#Real ul,
#Evenement ul,
#Discography ul,
.copain {
    list-style-type: none;
}

/* Centre la liste de site */
.copain {
    text-align: center;
}

/* Largeur et marges pour la classe album-vid */
.album-vid {
    width: 100%;
    max-width: 800px;
    margin: 0 auto;
}

/* Conteneur vidéo 16:9 */
.video-container {
    position: relative;
    padding-bottom: 56.25%;
    /* Ratio 16:9 */
    height: 0;
    overflow: hidden;
    max-width: 100%;
}

/* Remplissage pour l'iframe */
.video-container iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

/* Contenu de la bannière */
.banner-content {
    width: 100%;
    height: 400px;
    background-image: url('Image-font/fond.png');
    background-size: cover;
    background-position: center;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

/* Filtre sombre pour la bannière */
.banner-content::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    z-index: 1;
}

/* Style du texte dans la bannière */
.banner-content h1,
.banner-content p {
    position: relative;
    color: #ffd700;
    z-index: 2;
    text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.7);
}

/* Police et taille des titres de bannière */
.banner-content h1 {
    font-size: 4em;
}

.banner-content p {
    position: absolute;
    bottom: 10px;
    right: 10px;
    font-size: 1.5em;
}

/* Police spécifique pour les titres */
.titre {
    font-family: "feu", sans-serif;
    font-size: 30px;
}

/* Style de base pour tous les éléments */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Mise en forme de la section main */
main {
    display: flex;
    flex-direction: column;
    margin-top: 10px;
    font-family: "Roboto", sans-serif;
}

/* En-tête avec styles */
header {
    font-family: 'Roboto', sans-serif;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 50px;
    box-shadow: 0 1px 8px #636363;
    background-color: #717070;
}

header li {
    list-style: none;
    display: inline-block;
    padding: 0 20px;
}

/* Style des liens dans l'en-tête */
a.nav-link {
    text-decoration: none;
    color: white;
    font-size: 16px;
    font-weight: 500;
}

/* Navigation mobile masquée par défaut */
nav.nav-mobile {
    display: none;
}

/* Bouton burger */
.burger {
    cursor: pointer;
    display: inline-block;
    width: 30px;
    height: 25px;
    position: relative;
}

.burger span {
    display: block;
    background-color: #333;
    height: 3px;
    width: 100%;
    border-radius: 2px;
    position: absolute;
    left: 0;
    transition: 0.3s ease;
}

.burger span:nth-child(1) {
    top: 0;
}

.burger span:nth-child(2) {
    top: 10px;
}

.burger span:nth-child(3) {
    top: 20px;
}

/* Animation pour l'icône burger lorsqu'activé */
.buttonmenu:checked+.burger span:nth-child(1) {
    transform: rotate(45deg);
    top: 10px;
}

.buttonmenu:checked+.burger span:nth-child(2) {
    opacity: 0;
}

.buttonmenu:checked+.burger span:nth-child(3) {
    transform: rotate(-45deg);
    top: 10px;
}

.buttonmenu {
    display: none;
}

/* Affiche la diapositive sélectionnée */
.slides input[type="radio"] {
    display: none;
    visibility: hidden;
}

/* Définit la transition de la diapositive */
.slides figure {
    visibility: hidden;
    opacity: 0;
    transition: all 0.5s;
}

.slides input[type="radio"]:checked+figure {
    visibility: visible;
    opacity: 1;
}

/* Wrapper des diapositives */
.wrapper-slides {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 10px;
    grid-auto-rows: minmax(100px, auto);
}

.slides {
    grid-column: 2;
    position: relative;
    max-width: 600px;
    height: 400px;
}

.slides img,
.slides figcaption,
.slides label {
    position: absolute;
}

/* Style des légendes et boutons */
.slides label,
.slides figcaption {
    color: #fff;
    background: rgba(0, 0, 0, 0.7);
}

/* Images des diapositives */
.slides img {
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.slides figcaption {
    bottom: 0;
    left: 0;
    width: 100%;
    padding: 10px;
    text-align: center;
}

/* Boutons de navigation */
.slides label {
    top: 50%;
    transform: translateY(-50%);
    display: flex;
    align-items: center;
    justify-content: center;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    font-size: 1.5em;
    cursor: pointer;
}

.slides label.last {
    left: 10px;
}

.slides label.next {
    right: 10px;
}

/* Style de la barre latérale */
.sidebar {
    position: sticky;
    top: 10%;
    left: 90%;
    width: 20%;
    height: 20%;
    background-color: #f2f2f2;
    padding: 10px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    z-index: 3;
    opacity: 90%;
    margin-right: 50px;
    list-style-type: none;
}

/* Masquer la barre latérale sur petits écrans */
@media (max-width: 768px) {
    .sidebar {
        display: none;
    }

    #Discography {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    .chansons,
    .album-vid {
        width: 100%;
        margin: 0;
    }
}

/* Liste dans la barre latérale */
.sidebar ul {
    list-style-type: none;
    padding: 0;
}

.sidebar ul li {
    margin: 10px 0;
}

.sidebar ul li a {
    text-decoration: none;
    color: #000;
    font-weight: bold;
}

/* Couleur des liens au survol */
.sidebar ul li a:hover {
    color: #ff0000;
}

/* Style du footer */
footer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px;
    margin: auto;
    background-color: #717070;
    color: white;
    font-size: 20px;
    width: 100%;
    margin: 0%;
}