* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
main {
    display: flex;
    flex-direction: column;
    margin-top: 50px;
    font-family: "Roboto", sans-serif;
}

/* Header + Barre de nav */
header {
    font-family: 'Roboto', sans-serif;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding : 20px 50px;
    box-shadow: 0 1px 8px #636363;
    background-color: #717070;
}

header li {
    list-style: none;
    display: inline-block;
    padding : 0 20px;
}

nav.nav-mobile {
    display: none;
}

.mobilenav {
    display: none;
}
/* Bouton Burger */
.burger {
    cursor: pointer;
    display: inline-block;
    width: 30px;
    height: 25px;
    position: relative;
}

.burger span {
    display: block;
    background-color: #333;
    height: 3px;
    width: 100%;
    border-radius: 2px;
    position: absolute;
    left: 0;
    transition: 0.3s ease;
}

.burger span:nth-child(1) {
    top: 0;
}

.burger span:nth-child(2) {
    top: 10px;
}

.burger span:nth-child(3) {
    top: 20px;
}
.buttonmenu:checked + .burger span:nth-child(1) {
    transform: rotate(45deg);
    top: 10px;
}

.buttonmenu:checked + .burger span:nth-child(2) {
    opacity: 0;
}

.buttonmenu:checked + .burger span:nth-child(3) {
    transform: rotate(-45deg);
    top: 10px;
}
.buttonmenu {
    display: none;
}

/* Contenu principal */

div.container {
    box-shadow: 0 1px 8px #ddd;
    background-color: antiquewhite;
    width: 90%;
    margin: auto;
}

/* Titre */
section.title{
    display: flex;
    font-weight: 400;
    font-style: normal;
    font-size: 20px;
    padding: 0 40px;
    margin: auto;
    justify-content: center;
}

/* Description avec Images (en ligne) */
article.descavecimg {
    display: flex;
    flex-direction: column;
    padding: 20px 40px;
}

/* Zone de texte */
div.text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    width: 50%;
    margin: 2px;
}

div.zone-article{
    display: flex;
    flex-direction: row;
}

/* Dicographie */
article.discographie {
    display: flex;
    flex-direction: column;
    padding: 20px 40px;
}

article.discographie-album{
    display: flex;
    flex-direction: row;
}
/* Responsive */
@media (max-width: 768px){
    nav.nav-mobile {
        display: flex;
    }
    nav.nav-pc {
        display: none;
    }
    .buttonmenu:checked + .mobilenav{
        display: flex;
        flex-direction: column;
        
    }
}